.home__container {
    width: 100%;
    height: calc(100vh - 217px);
}

.todos__container {
   width: calc(100% - 4rem);
   margin: 2rem;
}

.todos__content {
    display: flex;
    flex-wrap: wrap;
}

.todos__card {
    padding: 1rem;
    margin: 0.5rem;
    border: 1px solid;
    border-radius: 5px;
    background-color: aliceblue;
}




/* 
.card__logo img {
    width: 300px;
} */